body {
  background-color: #9ab6cf;
  font-family: "Courier New", Courier, monospace;
}

.container {
  background-color: #fafffe;
  width: 50%;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#task {
  background-color: #defae1;
  margin: 5px;
  border-radius: 15px;
  height: 50px;
}

#task li {
  list-style: none;
}

.task-text {
  margin-left: 20px;
}

.add-task-field {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  font-family: "Courier New", Courier, monospace;
}

.add-task-btn {
  background-color: #8d4ce8;
  color: #fcfef9;
  padding: 10px 18px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.checkbox {
  margin: 20px;
}

.delete-btn {
  background-color: #e54d41;
  color: #fcfef9;
  padding: 10px 18px;
  text-align: center;
  border: none;
  border-radius: 5px;
  float: right;
  margin: 20px 20px 0px 20px;
}

.finished {
  opacity: 0.5;
  background-color: #000000;
}
